/*!
Theme Name: luckycasino
Theme URI: https://sportsinnovation.dk
Author: Sports Innovation
Author URI: https://sportsinnovation.dk
Description: Description
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: luckycasino
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

luckycasino is based on Underscores https://underscores.me/, (C) 2012-2017 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/
@import "variables-site/variables-site";
@import "mixins/mixins-master";

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
@import "normalize";

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
@import "typography/typography";

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
@import "elements/elements";

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
@import "forms/forms";

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
@import "navigation/navigation";

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
@import "modules/accessibility";

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
@import "modules/alignments";

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
@import "modules/clearings";

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
@import "site/secondary/widgets";

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
@import "site/site";

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
@import "modules/infinite-scroll";

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
@import "media/media";
:not(:disabled) {
  //cursor: default;
}
/*--------------------------------------------------------------
# Variables
--------------------------------------------------------------*/
@import "variables-site/theme.variables";

/*------------------------------------------------------------*/

@font-face {
  font-family: Neusa;
  src: url(./fonts/Neusa-Light.otf);
  font-weight: 300;
}

@font-face {
  font-family: Neusa;
  src: url(./fonts/Neusa-Regular.otf);
  font-weight: 400;
}

@font-face {
  font-family: Neusa;
  src: url(./fonts/Neusa-Medium.otf);
  font-weight: 500;
}

@font-face {
  font-family: Neusa;
  src: url(./fonts/Neusa-SemiBold.otf);
  font-weight: 600;
}

@font-face {
  font-family: Neusa;
  src: url(./fonts/Neusa-Bold.otf);
  font-weight: 700;
}

/*========= DEFAULT =========*/

body {
  font: 400 17px/1.5em Neusa;
  margin-bottom: 0 !important;
  color: $text-color;
  height: 100%;
  overflow-x: hidden;
}

p {
  margin: 0 0 30px;

  a {
    text-decoration: none;
    color: #1974d2;
    transition: all 0.25s ease;

    &:focus,
    &:visited {
      color: #1974d2;
    }

    &:hover {
      color: #205790;
    }
  }
}

h1, .entry-title {
  font: 600 28px/1.2em Neusa;
  color: $text-color;
  margin: 0 0 12px;
  text-transform: none;

  a {
    color: $text-color;
    transition: all 0.25s ease;

    &:visited {
      color: $text-color;
    }

    &:hover {
      text-decoration: none;
      color: $primary-color;
    }
  }
}

h2 {
  font: 700 28px/1.1em Neusa;
  color: $text-color;
  margin: 0 0 15px;

  p + & {
    margin-top: 40px;
  }
}

h3 {
  font: 500 20px/1em Neusa;
  color: $text-color;
  margin: 0 0 25px;

  p + & {
    margin-top: 40px;
  }
}

h4 {
  font: 400 16px/1em Neusa;
  color: $text-color;
  margin: 0 0 15px;

  p + & {
    margin-top: 40px;
  }
}

h5 {
  font: 400 16px/1em Neusa;
  color: #535353;
  margin: 0 0 15px;

  p + & {
    margin-top: 40px;
  }
}

h6 {
  font: 500 12px/1em Neusa;
  color: $text-color;
  margin: 0 0 15px;

  p + & {
    margin-top: 40px;
  }
}

a {
  cursor: pointer !important;
  text-decoration: none;
}

.post,
.page {
  margin: 0 0 15px;
}

.page .entry-header {

}

ul,
ol, .ab-facts-list {
  padding: 0;
  margin: 0 0 15px;
}

.page-content,
.entry-content,
.entry-summary {
  margin: 0;
}

.entry-content {

}

button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  box-shadow: none;
  box-sizing: border-box;
  display: inline-block;
  text-transform: capitalize;
  white-space: nowrap;
  background-color: rgb(0, 73, 131);
  color: #fff;
  outline: none;
  line-height: 32px;
  font-size: 12px;
  padding: 0 12px;
  border: 1px solid rgb(178, 178, 178);
  border-image: initial;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.25s ease;

  &:not(:disabled):active {
    box-shadow: rgba(0, 153, 252, 0.25) 0 0 0 3px;
  }

  &:not(:disabled):hover {
    background-color: rgb(1, 86, 153);
    border-color: rgb(1, 86, 153);
  }

  &:focus {
    outline: none;
  }

  a,
  a:visited,
  a:hover {
    color: #fff;
    text-decoration: none;
  }
}

.si-entry-title {
  margin-bottom: 50px;
  text-align: center;
}

si-lb-widget {
  margin: 0 0 30px !important;
}

.widget-area {
  overflow: hidden;
}

/*========= CONTENT =========*/
.site-header {
  position: relative;
  padding: 0;
  margin-bottom: 0;
  z-index: 10;
  background: url(./images/header_bg.jpg) center no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;

  &:after {
    content: '';
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
    z-index: -1;
  }
}

.top-sidebar {
  margin: 5px 0 20px;

  .widget-area {
    .widget {
      margin: 0;

      si-lb-widget {
        margin: 0;
      }
    }
  }
}

.wrapper {
  border-radius: 8px;
  background: #621382;
  padding: 20px 66px;

  &__widget-area {
    padding: 20px 16px 0;
  }
}

.error-page {
  text-align: center;
  padding: 90px 0 60px;

  h2 {
    font-size: 35px;
    line-height: 1em;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 15px;
    color: inherit;
  }

  h3 {
    font-size: 25px;
    line-height: 1em;
    font-weight: 400;
    margin-bottom: 50px;
    color: inherit;
  }

  > div {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 230px;
    line-height: 1em;
    margin-bottom: 30px;
    color: inherit;

    svg {
      width: 230px;
      fill: $primary-color;
    }

    em {
      font-style: normal;
    }
  }

  button {
    outline: none;
    margin: 3px;
    box-sizing: border-box;
    display: inline-block;
    text-transform: capitalize;
    white-space: nowrap;
    background-color: $primary-color;
    box-shadow: 0 0 0 1px $primary-color;
    border: none;
    font-size: 18px;
    line-height: 1em;
    font-weight: 700;
    color: #fff;
    padding: 13px 15px;
    border-radius: 9px;
    transition: all 0.25s ease-out;

    a {
      transition: all 0.25s ease-out;
    }

    &:hover {
      background-color: transparent;

      a {
        color: $primary-color;
      }
    }
  }
}

.ab-facts-list {
  margin-bottom: 30px;
}

/*========= MENU =========*/
.main-navigation {
  padding: 0;
  display: flex;
  width: auto;
  float: none;
  min-height: 52px;

  .menu-toggle {
    background: none;
    border: none;
    border-radius: 0;
    padding: 0;
    margin: 0;
    line-height: 0;
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(12px, -50%);
    display: none;
    width: 32px;
    height: 20px;
    z-index: 10;
    transition: none;

    &:hover {
      background: none !important;
    }

    > span {
      transform: translateY(6px);
      display: inline-block;
      pointer-events: none;
    }

    > span > em {
      position: relative;
      width: 32px;
      height: 20px;
      display: block;
    }

    > span > em,
    > span > em:before,
    > span > em:after {
      width: 25px;
      height: 3px;
      background-color: #fff;
      border-radius: 3px;
    }

    > span > em:before,
    > span > em:after {
      content: "";
      display: block;
      position: absolute;
    }

    > span > em:before {
      top: -8px;
      width: 22px;
    }

    > span > em:after {
      top: -16px;
    }
  }

  //toggle hover
  &.toggled .menu-toggle {
    > span > em {
      width: 22px;
      transform: translate3d(0, -10px, 0) rotate(-45deg);

      &:before {
        top: 0;
        transform: rotate(-90deg);
      }

      &:after {
        top: 0;
        opacity: 0;
      }
    }
  }

  &:not(.toggled) {
    #primary-menu {
      > li {
        margin: 0 20px;
        position: relative;

        &:nth-child(1) {
          margin-left: 0;
        }

        a {
          font: 600 17px/1em Neusa;
          color: #fff;
          padding: 0;
          border-radius: 5px;
          transition: all 0.25s ease-out;
          text-transform: uppercase;

          &:hover {
            color: $primary-color;
          }
        }

        &.current-menu-item a {
          color: $primary-color;
          cursor: default !important;
        }
      }
    }
  }

  .sub-menu {
    background-color: #274d97;
    padding: 10px 0;

    li {
      a {
        background: none !important;
        border-radius: 0;
      }

      &.current-menu-item a,
      &:hover a {
        color: #ffca39 !important;
      }
    }
  }

  .mobile-tournaments-menu,
  .mobile-tabs {
    display: none;
  }

  #general-menu {
    display: flex;
    align-items: center;
  }

  &.toggled {
    #general-menu {
      visibility: visible;
      transform: translate(0%, 71px);
      z-index: 10;
    }
  }
}

.site-header {
  .site-branding-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px 70px 0;
    order: 0;

    > * {
      &:nth-last-child(1) {
        text-align: right;
        display: none;
      }
    }

    .single-post & {
      .primary-button {
        display: none;
      }
    }
  }

  .site-branding {
    text-align: center;
    line-height: 0;

    > a {
      max-width: 112px;
      display: inline-block;
      cursor: pointer;
      line-height: 0;
    }
  }

  .header-wrapper {
    padding: 20px 0 37px;
    display: flex;
    align-items: center;
    flex-direction: column;
    order: 1;

    .site-description {
      font-size: 36px;
      font-weight: 600;
      line-height: 1.2em;
      max-width: 470px;
      margin: 55px 0;
    }
  }
}

.site-branding.single-post {
  display: none;
  width: 67px;
  line-height: 0;
  box-sizing: border-box;
  align-items: center;
  padding: 5px;

  a {
    display: inline-block;
    line-height: 0;

    img {
      width: 100%;
      height: auto;
    }
  }

  .single-post & {
    display: flex;
  }
}

.menu-wrapper {
  order: 2;
  background: #561f71;
  box-shadow: inset 0 3px 7px #290b35;

  .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .single-post & {
      display: grid;
      grid-template-columns: repeat(3, 1fr);

      > *:nth-child(2) {
        justify-self: center;
      }

      > *:nth-last-child(1) {
        justify-self: flex-end;
      }
    }
    .primary-button.single-post {
      display: none;

      .single-post & {
        display: block;
      }
    }
  }

  &.sticky {
    position: sticky;
    top: 0;
    margin: 0;
    padding: 0;
    z-index: 15;
  }

  .admin-bar & {
    top: 32px;
  }
}

.single-post .site-header .site-branding-wrapper .primary-button {
  display: block;
  justify-self: flex-end;
}

.tournament-menu {
  padding: 8px 0;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;

  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 500%;
    height: 100%;
    z-index: -1;
    background: url("./images/tournament_menu_bg.png") repeat;
  }

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(3, 105, 120, 0.7);
    width: 500%;
    height: 100%;
    z-index: 0;
  }

  .menu {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    position: relative;

    li {
      margin: 0 20px;

      &:nth-child(1) {
        margin-left: 0;
      }

      a {
        font: 600 17px/1em Neusa;
        color: #fff;
        padding: 0;
        border-radius: 5px;
        transition: all 0.25s ease-out;
        text-transform: uppercase;

        &:hover {
          color: $primary-color;
        }
      }

      &.current-menu-item a {
        color: $primary-color;
        cursor: default !important;
      }
    }
  }

  .euro-icon {
    background: url("./images/euro-2020.svg") no-repeat;
    width: 36px;
    height: 36px;
    display: inline-block;
    position: relative;
    margin: 0 45px 0 20px;
  }
}

.wp-block-latest-posts {
  &__post-date {
    display: inline-block;
    margin-left: 10px;
    color: $primary-color;
  }

  &.wp-block-latest-posts__list li {
    a {
      color: #fff;
      font-weight: bold;
      opacity: .6;
      transition: all 0.25s ease;

      &:hover {
        color: $primary-color;
        opacity: 1;
      }
    }
  }
}

.primary-button {
  position: relative;
  background: linear-gradient(180deg, #FFDF07 0%, rgba(248, 194, 12, 0.81) 100%);
  border-radius: 2px;
  padding: 10px 12px;
  font: 600 16px/1.2em Neusa;
  border: none;
  box-shadow: none;
  outline: none;
  cursor: pointer;
  background-color: transparent !important;
  max-height: 39px;

  a {
    color: #561E71 !important;
  }

  &:hover {
    background: linear-gradient(180deg, #FFDF07 0%, rgba(248, 194, 12, 0.81) 50%);
  }

  &.play-here-anim {
    overflow: hidden;

    &:after {
      content: '';
      will-change: left;
      position: absolute;
      transform: skewX(-22deg);
      width: 45px;
      height: 100%;
      opacity: 0;
      top: 0;
      left: -60%;
      animation-delay: 2s;
      pointer-events: none;
      background: linear-gradient(90deg,rgba(255,255,255,0.1),rgba(255,255,255,0.6) 100%);
      animation-name: marquiz__pop-blick;
      animation-duration: 4s;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
    }
  }
}

@keyframes marquiz__pop-blick{
  0% {opacity:0}
  20% {opacity:1}
  27% {opacity:0}
  40% {opacity:0; left:85%}
  100%{opacity:0}
};

.fullwidth-latest-post {
  position: relative;

  .post_teams_logo {
    display: none;
  }

  figure {
    margin: 0 0 37px;

    .figure-link {
      position: relative;
      display: inline-block;
      overflow: hidden;
      background: #eee;
      border-radius: 20px;

      picture {
        div {
          line-height: 0;
        }
      }

      img {
        width: 100%;
        object-fit: cover;
      }

      &:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 240px;
        background: linear-gradient(to top, black 0%, rgba(0, 0, 0, 0) 100%);
        bottom: 0;
        left: 0;
        z-index: 0;
      }
    }

    figcaption {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 5;
      color: #fff;
      padding: 0 27px 40px;

      h2 {
        font: 600 36px/1.1em Neusa;
        margin: 0 0 15px;

        a {
          color: #fff;
          text-decoration: none;
          transition: all 0.25s ease;

          &:hover {
            color: $primary-color;
          }
        }
      }

      > div {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      time {
        font: 600 17px/1.5em Neusa;
      }

      .read-more {
        position: relative;
        font: 600 17px/1.5em Neusa;
        text-decoration: none;
        white-space: nowrap;
        color: #fff;
        padding-right: 20px;
        display: inline-block;
        transition: all 0.25s ease;

        i {
          font-style: normal;
          position: absolute;
          right: 0;
          top: 50%;
          width: 14px;
          height: 2px;
          background-color: #fff;
          transform: translateY(-50%);
          border-radius: 2px;
          transition: all 0.25s ease;

          &:after,
          &:before {
            content: "";
            position: absolute;
            right: 1px;
            top: 0;
            width: 9px;
            height: 2px;
            background-color: #fff;
            transform-origin: center right;
            border-radius: 2px;
            transition: all 0.25s ease;
          }

          &:after {
            transform: rotate(45deg);
          }

          &:before {
            transform: rotate(-45deg);
            right: 1px;
          }
        }

        &:hover {
          text-decoration: none;
          color: $primary-color;

          i {
            background-color: $primary-color;

            &:after {
              transform: rotate(35deg);
              background-color: $primary-color;
            }

            &:before {
              transform: rotate(-35deg);
              background-color: $primary-color;
            }
          }
        }
      }
    }
  }
}

.latest-post-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 26px;
  margin-bottom: 10px;

  > div {
    margin-bottom: 15px;
    cursor: default;
  }

  figure {
    margin: 0;
    padding: 0;
    position: relative;
    cursor: default;
    overflow: hidden;
    border-radius: 20px;

    > div {
      position: relative;
      line-height: 0;

      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 30%, #000000 100%);
        z-index: 0;
      }
    }

    img {
      width: 100%;
      object-fit: cover;
    }

    figcaption {
      position: absolute;
      left: 0;
      bottom: 0;
      color: #fff;
      right: 0;
      z-index: 1;
      padding: 0 15px 23px;

      h2 {
        margin-bottom: 0;
        font-size: 17px;
        font-weight: 600;
        line-height: 1em;

        a {
          color: #fff;
          text-decoration: none;

          &:hover {
            color: $primary-color;
          }
        }
      }

      p {
        font-size: 16px;
        margin: 0;
      }
    }
  }

  .post_teams_logo {
    display: none;
  }
}

.fullwidth-post-thumbnail {
  padding: 0;
  margin: 0 0 30px;
  line-height: 0;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 454px;

  img {
    width: 100%;
  }

  .title-link {
    font: bold 36px/1.37em Neusa;
    color: #fff;
    max-width: 760px;
    display: inline-block;
    margin-bottom: 20px;
    transition: all 0.2s ease;

    &:hover {
      color: $secondary-color;
    }
  }

  .container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    margin-bottom: 105px;
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.76;
    background: linear-gradient(to bottom, rgba(86,30,113,0) 0%,rgba(86,30,113,1) 100%);
    z-index: 0;
  }

  .posted-on {
    display: block;
    color: #FDC500;
    font-weight: bold;
    font-size: 16px;
    line-height: 1em;

    a {
      color: inherit;
      transition: all 0.2s ease;

      &:hover {
        color: #fff;
      }
    }
  }
}

.post, .single {
  .entry-header, .entry-footer, .post-navigation {
    display: none;
  }
}

footer.site-footer {
  background-color: #fff;
  padding: 100px 20px 30px;
  color: #000;
  font-weight: 600;
  font-size: 18px;
  text-align: center;

  .links-list {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    list-style: none;

    li {
      font-weight: 500;
      font-size: 18px;
      line-height: 1em;
      margin: 0 40px;

      a {
        text-decoration: underline;
        transition: all 0.2s ease;

        &:hover {
          color: $primary-color;
        }
      }
    }
  }

  .partners-list {
    padding: 0;
    display: flex;
    list-style: none;
    max-width: 580px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    li {
      margin: 0 50px;
    }
  }

  .widget {
    &:not(:last-child) {
      margin-bottom: 50px;
    }
  }
}

.si-match-header-wrapper, .match-subpage-widgets {
  si-lb-widget {
    background-color: rgb(43, 7, 60);
    border-radius: 10px;
  }
}

.si-match-menu {
  display: none;
}

/*========= POST =========*/
.wp-block-si-widget {
  &.wp-block-si-widget--center si-lb-widget {
    margin: 0 auto 30px !important;
  }
}
.si-default-post-layout {
  .entry-content {
    .parent-selector + si-lb-widget,
    .parent-selector + .wp-block-si-widget,
    .parent-selector + .wp-block-group > * .wp-block-si-widget:nth-child(1) {
      margin-top: -100px;
    }
  }
}

/*========= GRID =========*/
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9 {
  padding-right: 10px;
  padding-left: 10px;
}

.row {
  margin-right: -10px;
  margin-left: -10px;
}

/*========= MEDIA =========*/

@media (min-width: 1340px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1390px;
  }

  .single-post  #masthead {
    display: none;
  }
}

@media (min-width: 1200px) {
  .col-xl-1,
  .col-xl-10,
  .col-xl-11,
  .col-xl-12,
  .col-xl-2,
  .col-xl-3,
  .col-xl-4,
  .col-xl-5,
  .col-xl-6,
  .col-xl-7,
  .col-xl-8,
  .col-xl-9 {
    width: 100%;
    margin: 0;
  }

  .single-post  #masthead {
    display: none;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .main-navigation:not(.toggled) #primary-menu > li,
  .site-header .tournament-menu .menu li {
    margin: 0 10px;
  }

  .site-header .tournament-menu .euro-icon {
    margin: 0 20px;
  }

  .fullwidth-latest-post figure {
    .figure-link {
      border-radius: 10px;
    }

    figcaption {
      padding: 0 20px 20px;

      h2 {
        font-size: 25px;
        margin: 0 0 5px;
      }
    }
  }

  .latest-post-list figure {
    border-radius: 5px;
  }

  .wrapper {
    padding-left: 16px;
    padding-right: 16px;
  }

  .si-default-post-layout {
    .entry-content {
      .parent-selector + si-lb-widget,
      .parent-selector + .wp-block-si-widget,
      .parent-selector + .wp-block-group > * .wp-block-si-widget:nth-child(1) {
        margin-top: 0;
      }
    }
  }

  .fullwidth-post-thumbnail .container {
    margin-bottom: 20px;
  }

  .single-post  #masthead {
    display: none;
  }
}

@media screen and (min-width: 320px) and (max-width: 991px) {
  .main-navigation .menu-toggle {
    display: block;
  }

  .single-post {
    .header-wrapper {
      padding-bottom: 0;
    }

    .site-branding.single-post {
      display: none;
    }

    .header-wrapper {
      .site-branding {
        display: none;
      }
    }
  }

  .single-post .menu-wrapper .flex .primary-button.single-post {
    display: none;
  }

  .single-post .site-branding-wrapper {
    .primary-button {
      display: block;
    }
  }

  .main-navigation #general-menu {
    position: absolute;
    top: 0;
    left: 0;
    background: #000;
    width: calc(100vw - 30px);
    height: 100vh;
    box-sizing: border-box;
    transform: translate(-101%, 71px);
    visibility: hidden;
    align-items: normal;
    transition: all 0.2s ease;

    #menus {
      width: 100%;
    }

    .betting,
    .mobile-tournaments-menu {
      display: none;

      &.show {
        display: flex;
      }
    }

    #primary-menu {
      flex-direction: column;
      box-sizing: border-box;

      li {
        margin: 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.25);

        a {
          color: #fff;
          padding: 10px 0;
          border-radius: 0;
          transition: all 0.2s ease;
          background: none;
        }

        &:after {
          display: none;
        }

        &.active > a,
        &.current-menu-item > a,
        &:hover > a {
          color: $secondary-color;
        }
      }
    }

    .mobile-tournaments-menu {
      flex-direction: column;

      li {
        border-bottom: 1px solid rgba(255, 255, 255, 0.25);

        a {
          color: #fff;
          padding: 10px 0;
          transition: all 0.2s ease;
        }

        &.active > a,
        &.current-menu-item > a,
        &:hover > a {
          color: $secondary-color;
        }
      }
    }

    .mobile-tabs {
      text-align: center;
      display: block;
      margin-right: 20px;

      ul {
        display: flex;
        flex-direction: column;
        font-size: 16px;
        font-weight: 500;

        > li {
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 10px 15px;
          cursor: pointer;
          color: #fff;
          transition: all 0.2s ease;

          svg {
            fill: #fff;
            pointer-events: none;
          }

          &:not(:last-child) {
            margin-bottom: 1px;
          }
        }

        li.active,
        li:hover {
          color: $accents-color;
          background-color: $secondary-color;
        }
      }
    }
  }

  .tournament-menu {
    display: none;
  }

  .menu-wrapper {
    background: none;
    box-shadow: none;
    z-index: 15;
    height: 70px;

    &.sticky {
      position: fixed;
      width: 60px;
    }

    .admin-bar & {
      top: 32px;
    }
  }

  .menu-wrapper, .site-header .site-branding-wrapper {
    position: fixed;
    width: 100%;
  }

  .site-header {

    &:after {
      bottom: 0;
    }

    .site-branding-wrapper {
      padding: 10px 30px;
      align-items: center;
      background: #4a1b5f;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
      border-bottom: 1px solid #571f6f;
      z-index: 5;
    }

    .site-branding > a {
      max-width: 70px;
    }

    .header-wrapper {
      padding-top: 50px;
    }
  }

  .fullwidth-latest-post figure {
    .figure-link {
      border-radius: 10px;
    }

    figcaption {
      padding: 0 20px 20px;

      h2 {
        font-size: 25px;
        margin: 0 0 5px;
      }
    }
  }

  .latest-post-list {
    margin-bottom: 0;

    figure {
      border-radius: 5px;
    }

    &:nth-child(3), &:nth-child(4), &:nth-child(5) {
      margin-bottom: 0;
    }
  }

  .wrapper {
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 5px;
    margin-bottom: 16px;
  }

  .si-default-post-layout {
    .entry-content {
      .parent-selector + si-lb-widget,
      .parent-selector + .wp-block-si-widget,
      .parent-selector + .wp-block-group > * .wp-block-si-widget:nth-child(1) {
        margin-top: 0;
      }
    }
  }

  .fullwidth-post-thumbnail {
    min-height: 250px;

    .container {
      margin-bottom: 20px;

      .title-link {
        font-size: 30px;
      }
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 782px) {
  .menu-wrapper {
    .admin-bar & {
      top: 46px;
    }
  }

  .latest-post-list {
    grid-template-columns: 1fr;

    figure {
      max-height: 229px;
      border-radius: 10px
    }
  }

  .top-sidebar {
    margin: 0;
  }
}


@media screen and (min-width: 320px) and (max-width: 450px) {
  .fullwidth-latest-post figure figcaption {
    padding: 0 10px 10px;

    h2 {
      font-size: 20px;
    }
  }

  .latest-post-list {
    figure figcaption {
      padding: 0 10px 10px;
    }
  }

  footer.site-footer {
    padding-top: 50px;

    .partners-list li {
      margin: 0 30px;
    }
  }
}
