/*!
Theme Name: luckycasino
Theme URI: https://sportsinnovation.dk
Author: Sports Innovation
Author URI: https://sportsinnovation.dk
Description: Description
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: luckycasino
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

luckycasino is based on Underscores https://underscores.me/, (C) 2012-2017 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
	 ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
	line-height: 1.15;
	/* 1 */
	-webkit-text-size-adjust: 100%;
	/* 2 */
}

/* Sections
	 ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
	margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

/* Grouping content
	 ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
	box-sizing: content-box;
	/* 1 */
	height: 0;
	/* 1 */
	overflow: visible;
	/* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
	font-family: monospace, monospace;
	/* 1 */
	font-size: 1em;
	/* 2 */
}

/* Text-level semantics
	 ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
	background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
	border-bottom: none;
	/* 1 */
	text-decoration: underline;
	/* 2 */
	text-decoration: underline dotted;
	/* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
	font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
	font-family: monospace, monospace;
	/* 1 */
	font-size: 1em;
	/* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
	font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

/* Embedded content
	 ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
	border-style: none;
}

/* Forms
	 ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
	font-family: inherit;
	/* 1 */
	font-size: 100%;
	/* 1 */
	line-height: 1.15;
	/* 1 */
	margin: 0;
	/* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
	/* 1 */
	overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
	/* 1 */
	text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
	padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *		`fieldset` elements in all browsers.
 */
legend {
	box-sizing: border-box;
	/* 1 */
	color: inherit;
	/* 2 */
	display: table;
	/* 1 */
	max-width: 100%;
	/* 1 */
	padding: 0;
	/* 3 */
	white-space: normal;
	/* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
	vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
	overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
	box-sizing: border-box;
	/* 1 */
	padding: 0;
	/* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
	-webkit-appearance: textfield;
	/* 1 */
	outline-offset: -2px;
	/* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
	-webkit-appearance: button;
	/* 1 */
	font: inherit;
	/* 2 */
}

/* Interactive
	 ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
	display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
	display: list-item;
}

/* Misc
	 ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
	display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
	display: none;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
optgroup,
textarea {
	color: #404040;
	font-family: sans-serif;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
	clear: both;
}

p {
	margin-bottom: 1.5em;
}

dfn, cite, em, i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code, kbd, tt, var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 15px;
	font-size: 0.9375rem;
}

abbr, acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark, ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	/* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: #fff;
	/* Fallback for when there is no custom background color defined. */
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul, ol {
	margin: 0 0 1.5em 3em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: auto;
	/* Make sure images are scaled correctly. */
	max-width: 100%;
	/* Adhere to container width. */
}

figure {
	margin: 1em 0;
	/* Extra wide images within figure tags don't overflow the content area. */
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: #ccc #ccc #bbb;
	border-radius: 3px;
	background: #e6e6e6;
	color: rgba(0, 0, 0, 0.8);
	font-size: 12px;
	font-size: 0.75rem;
	line-height: 1;
	padding: .6em 1em .4em;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	border-color: #ccc #bbb #aaa;
}

button:active, button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
	border-color: #aaa #bbb #bbb;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 3px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	color: #111;
}

select {
	border: 1px solid #ccc;
}

textarea {
	width: 100%;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
	color: royalblue;
}

a:visited {
	color: purple;
}

a:hover, a:focus, a:active {
	color: midnightblue;
}

a:focus {
	outline: thin dotted;
}

a:hover, a:active {
	outline: 0;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;
}

.main-navigation ul {
	display: none;
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.main-navigation ul ul {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	float: left;
	position: absolute;
	top: 100%;
	left: -999em;
	z-index: 99999;
}

.main-navigation ul ul ul {
	left: -999em;
	top: 0;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
	left: 100%;
}

.main-navigation ul ul a {
	width: 200px;
}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
	left: auto;
}

.main-navigation li {
	float: left;
	position: relative;
}

.main-navigation a {
	display: block;
	text-decoration: none;
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.site-main .comment-navigation, .site-main
.posts-navigation, .site-main
.post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
	/* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	clip-path: none;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
	/* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: "";
	display: table;
	table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
	margin: 0 0 1.5em;
	/* Make sure select elements fit in widgets. */
}

.widget select {
	max-width: 100%;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
	display: block;
}

.post,
.page {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
	/* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
	display: inline-block;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}

/*--------------------------------------------------------------
# Variables
--------------------------------------------------------------*/
/*------------------------------------------------------------*/
@font-face {
	font-family: Neusa;
	src: url(./fonts/Neusa-Light.otf);
	font-weight: 300;
}

@font-face {
	font-family: Neusa;
	src: url(./fonts/Neusa-Regular.otf);
	font-weight: 400;
}

@font-face {
	font-family: Neusa;
	src: url(./fonts/Neusa-Medium.otf);
	font-weight: 500;
}

@font-face {
	font-family: Neusa;
	src: url(./fonts/Neusa-SemiBold.otf);
	font-weight: 600;
}

@font-face {
	font-family: Neusa;
	src: url(./fonts/Neusa-Bold.otf);
	font-weight: 700;
}

/*========= DEFAULT =========*/
body {
	font: 400 17px/1.5em Neusa;
	margin-bottom: 0 !important;
	color: #fff;
	height: 100%;
	overflow-x: hidden;
}

p {
	margin: 0 0 30px;
}

p a {
	text-decoration: none;
	color: #1974d2;
	transition: all 0.25s ease;
}

p a:focus, p a:visited {
	color: #1974d2;
}

p a:hover {
	color: #205790;
}

h1, .entry-title {
	font: 600 28px/1.2em Neusa;
	color: #fff;
	margin: 0 0 12px;
	text-transform: none;
}

h1 a, .entry-title a {
	color: #fff;
	transition: all 0.25s ease;
}

h1 a:visited, .entry-title a:visited {
	color: #fff;
}

h1 a:hover, .entry-title a:hover {
	text-decoration: none;
	color: #FFDE07;
}

h2 {
	font: 700 28px/1.1em Neusa;
	color: #fff;
	margin: 0 0 15px;
}

p + h2 {
	margin-top: 40px;
}

h3 {
	font: 500 20px/1em Neusa;
	color: #fff;
	margin: 0 0 25px;
}

p + h3 {
	margin-top: 40px;
}

h4 {
	font: 400 16px/1em Neusa;
	color: #fff;
	margin: 0 0 15px;
}

p + h4 {
	margin-top: 40px;
}

h5 {
	font: 400 16px/1em Neusa;
	color: #535353;
	margin: 0 0 15px;
}

p + h5 {
	margin-top: 40px;
}

h6 {
	font: 500 12px/1em Neusa;
	color: #fff;
	margin: 0 0 15px;
}

p + h6 {
	margin-top: 40px;
}

a {
	cursor: pointer !important;
	text-decoration: none;
}

.post,
.page {
	margin: 0 0 15px;
}

ul,
ol, .ab-facts-list {
	padding: 0;
	margin: 0 0 15px;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 0;
}

button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	box-shadow: none;
	box-sizing: border-box;
	display: inline-block;
	text-transform: capitalize;
	white-space: nowrap;
	background-color: #004983;
	color: #fff;
	outline: none;
	line-height: 32px;
	font-size: 12px;
	padding: 0 12px;
	border: 1px solid #b2b2b2;
	border-image: initial;
	border-radius: 4px;
	cursor: pointer;
	transition: all 0.25s ease;
}

button:not(:disabled):active,
button:not(:disabled):active,
input[type="button"]:not(:disabled):active,
input[type="reset"]:not(:disabled):active,
input[type="submit"]:not(:disabled):active {
	box-shadow: rgba(0, 153, 252, 0.25) 0 0 0 3px;
}

button:not(:disabled):hover,
button:not(:disabled):hover,
input[type="button"]:not(:disabled):hover,
input[type="reset"]:not(:disabled):hover,
input[type="submit"]:not(:disabled):hover {
	background-color: #015699;
	border-color: #015699;
}

button:focus,
button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus {
	outline: none;
}

button a,
button a:visited,
button a:hover,
button a,
button a:visited,
button a:hover,
input[type="button"] a,
input[type="button"] a:visited,
input[type="button"] a:hover,
input[type="reset"] a,
input[type="reset"] a:visited,
input[type="reset"] a:hover,
input[type="submit"] a,
input[type="submit"] a:visited,
input[type="submit"] a:hover {
	color: #fff;
	text-decoration: none;
}

.si-entry-title {
	margin-bottom: 50px;
	text-align: center;
}

si-lb-widget {
	margin: 0 0 30px !important;
}

.widget-area {
	overflow: hidden;
}

/*========= CONTENT =========*/
.site-header {
	position: relative;
	padding: 0;
	margin-bottom: 0;
	z-index: 10;
	background: url(./images/header_bg.jpg) center no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
}

.site-header:after {
	content: '';
	position: absolute;
	top: auto;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
	z-index: -1;
}

.top-sidebar {
	margin: 5px 0 20px;
}

.top-sidebar .widget-area .widget {
	margin: 0;
}

.top-sidebar .widget-area .widget si-lb-widget {
	margin: 0;
}

.wrapper {
	border-radius: 8px;
	background: #621382;
	padding: 20px 66px;
}

.wrapper__widget-area {
	padding: 20px 16px 0;
}

.error-page {
	text-align: center;
	padding: 90px 0 60px;
}

.error-page h2 {
	font-size: 35px;
	line-height: 1em;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 15px;
	color: inherit;
}

.error-page h3 {
	font-size: 25px;
	line-height: 1em;
	font-weight: 400;
	margin-bottom: 50px;
	color: inherit;
}

.error-page > div {
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	font-size: 230px;
	line-height: 1em;
	margin-bottom: 30px;
	color: inherit;
}

.error-page > div svg {
	width: 230px;
	fill: #FFDE07;
}

.error-page > div em {
	font-style: normal;
}

.error-page button {
	outline: none;
	margin: 3px;
	box-sizing: border-box;
	display: inline-block;
	text-transform: capitalize;
	white-space: nowrap;
	background-color: #FFDE07;
	box-shadow: 0 0 0 1px #FFDE07;
	border: none;
	font-size: 18px;
	line-height: 1em;
	font-weight: 700;
	color: #fff;
	padding: 13px 15px;
	border-radius: 9px;
	transition: all 0.25s ease-out;
}

.error-page button a {
	transition: all 0.25s ease-out;
}

.error-page button:hover {
	background-color: transparent;
}

.error-page button:hover a {
	color: #FFDE07;
}

.ab-facts-list {
	margin-bottom: 30px;
}

/*========= MENU =========*/
.main-navigation {
	padding: 0;
	display: flex;
	width: auto;
	float: none;
	min-height: 52px;
}

.main-navigation .menu-toggle {
	background: none;
	border: none;
	border-radius: 0;
	padding: 0;
	margin: 0;
	line-height: 0;
	cursor: pointer;
	position: absolute;
	left: 0;
	top: 50%;
	transform: translate(12px, -50%);
	display: none;
	width: 32px;
	height: 20px;
	z-index: 10;
	transition: none;
}

.main-navigation .menu-toggle:hover {
	background: none !important;
}

.main-navigation .menu-toggle > span {
	transform: translateY(6px);
	display: inline-block;
	pointer-events: none;
}

.main-navigation .menu-toggle > span > em {
	position: relative;
	width: 32px;
	height: 20px;
	display: block;
}

.main-navigation .menu-toggle > span > em,
.main-navigation .menu-toggle > span > em:before,
.main-navigation .menu-toggle > span > em:after {
	width: 25px;
	height: 3px;
	background-color: #fff;
	border-radius: 3px;
}

.main-navigation .menu-toggle > span > em:before,
.main-navigation .menu-toggle > span > em:after {
	content: "";
	display: block;
	position: absolute;
}

.main-navigation .menu-toggle > span > em:before {
	top: -8px;
	width: 22px;
}

.main-navigation .menu-toggle > span > em:after {
	top: -16px;
}

.main-navigation.toggled .menu-toggle > span > em {
	width: 22px;
	transform: translate3d(0, -10px, 0) rotate(-45deg);
}

.main-navigation.toggled .menu-toggle > span > em:before {
	top: 0;
	transform: rotate(-90deg);
}

.main-navigation.toggled .menu-toggle > span > em:after {
	top: 0;
	opacity: 0;
}

.main-navigation:not(.toggled) #primary-menu > li {
	margin: 0 20px;
	position: relative;
}

.main-navigation:not(.toggled) #primary-menu > li:nth-child(1) {
	margin-left: 0;
}

.main-navigation:not(.toggled) #primary-menu > li a {
	font: 600 17px/1em Neusa;
	color: #fff;
	padding: 0;
	border-radius: 5px;
	transition: all 0.25s ease-out;
	text-transform: uppercase;
}

.main-navigation:not(.toggled) #primary-menu > li a:hover {
	color: #FFDE07;
}

.main-navigation:not(.toggled) #primary-menu > li.current-menu-item a {
	color: #FFDE07;
	cursor: default !important;
}

.main-navigation .sub-menu {
	background-color: #274d97;
	padding: 10px 0;
}

.main-navigation .sub-menu li a {
	background: none !important;
	border-radius: 0;
}

.main-navigation .sub-menu li.current-menu-item a,
.main-navigation .sub-menu li:hover a {
	color: #ffca39 !important;
}

.main-navigation .mobile-tournaments-menu,
.main-navigation .mobile-tabs {
	display: none;
}

.main-navigation #general-menu {
	display: flex;
	align-items: center;
}

.main-navigation.toggled #general-menu {
	visibility: visible;
	transform: translate(0%, 71px);
	z-index: 10;
}

.site-header .site-branding-wrapper {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	padding: 20px 70px 0;
	order: 0;
}

.site-header .site-branding-wrapper > *:nth-last-child(1) {
	text-align: right;
	display: none;
}

.single-post .site-header .site-branding-wrapper .primary-button {
	display: none;
}

.site-header .site-branding {
	text-align: center;
	line-height: 0;
}

.site-header .site-branding > a {
	max-width: 112px;
	display: inline-block;
	cursor: pointer;
	line-height: 0;
}

.site-header .header-wrapper {
	padding: 20px 0 37px;
	display: flex;
	align-items: center;
	flex-direction: column;
	order: 1;
}

.site-header .header-wrapper .site-description {
	font-size: 36px;
	font-weight: 600;
	line-height: 1.2em;
	max-width: 470px;
	margin: 55px 0;
}

.site-branding.single-post {
	display: none;
	width: 67px;
	line-height: 0;
	box-sizing: border-box;
	align-items: center;
	padding: 5px;
}

.site-branding.single-post a {
	display: inline-block;
	line-height: 0;
}

.site-branding.single-post a img {
	width: 100%;
	height: auto;
}

.single-post .site-branding.single-post {
	display: flex;
}

.menu-wrapper {
	order: 2;
	background: #561f71;
	box-shadow: inset 0 3px 7px #290b35;
}

.menu-wrapper .flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.single-post .menu-wrapper .flex {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.single-post .menu-wrapper .flex > *:nth-child(2) {
	justify-self: center;
}

.single-post .menu-wrapper .flex > *:nth-last-child(1) {
	justify-self: flex-end;
}

.menu-wrapper .flex .primary-button.single-post {
	display: none;
}

.single-post .menu-wrapper .flex .primary-button.single-post {
	display: block;
}

.menu-wrapper.sticky {
	position: sticky;
	top: 0;
	margin: 0;
	padding: 0;
	z-index: 15;
}

.admin-bar .menu-wrapper {
	top: 32px;
}

.single-post .site-header .site-branding-wrapper .primary-button {
	display: block;
	justify-self: flex-end;
}

.tournament-menu {
	padding: 8px 0;
	display: flex;
	align-items: center;
	position: relative;
	z-index: 1;
}

.tournament-menu:after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 500%;
	height: 100%;
	z-index: -1;
	background: url("./images/tournament_menu_bg.png") repeat;
}

.tournament-menu:before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(3, 105, 120, 0.7);
	width: 500%;
	height: 100%;
	z-index: 0;
}

.tournament-menu .menu {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	position: relative;
}

.tournament-menu .menu li {
	margin: 0 20px;
}

.tournament-menu .menu li:nth-child(1) {
	margin-left: 0;
}

.tournament-menu .menu li a {
	font: 600 17px/1em Neusa;
	color: #fff;
	padding: 0;
	border-radius: 5px;
	transition: all 0.25s ease-out;
	text-transform: uppercase;
}

.tournament-menu .menu li a:hover {
	color: #FFDE07;
}

.tournament-menu .menu li.current-menu-item a {
	color: #FFDE07;
	cursor: default !important;
}

.tournament-menu .euro-icon {
	background: url("./images/euro-2020.svg") no-repeat;
	width: 36px;
	height: 36px;
	display: inline-block;
	position: relative;
	margin: 0 45px 0 20px;
}

.wp-block-latest-posts__post-date {
	display: inline-block;
	margin-left: 10px;
	color: #FFDE07;
}

.wp-block-latest-posts.wp-block-latest-posts__list li a {
	color: #fff;
	font-weight: bold;
	opacity: .6;
	transition: all 0.25s ease;
}

.wp-block-latest-posts.wp-block-latest-posts__list li a:hover {
	color: #FFDE07;
	opacity: 1;
}

.primary-button {
	position: relative;
	background: linear-gradient(180deg, #FFDF07 0%, rgba(248, 194, 12, 0.81) 100%);
	border-radius: 2px;
	padding: 10px 12px;
	font: 600 16px/1.2em Neusa;
	border: none;
	box-shadow: none;
	outline: none;
	cursor: pointer;
	background-color: transparent !important;
	max-height: 39px;
}

.primary-button a {
	color: #561E71 !important;
}

.primary-button:hover {
	background: linear-gradient(180deg, #FFDF07 0%, rgba(248, 194, 12, 0.81) 50%);
}

.primary-button.play-here-anim {
	overflow: hidden;
}

.primary-button.play-here-anim:after {
	content: '';
	will-change: left;
	position: absolute;
	transform: skewX(-22deg);
	width: 45px;
	height: 100%;
	opacity: 0;
	top: 0;
	left: -60%;
	animation-delay: 2s;
	pointer-events: none;
	background: linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.6) 100%);
	animation-name: marquiz__pop-blick;
	animation-duration: 4s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

@keyframes marquiz__pop-blick {
	0% {
		opacity: 0;
	}
	20% {
		opacity: 1;
	}
	27% {
		opacity: 0;
	}
	40% {
		opacity: 0;
		left: 85%;
	}
	100% {
		opacity: 0;
	}
}

.fullwidth-latest-post {
	position: relative;
}

.fullwidth-latest-post .post_teams_logo {
	display: none;
}

.fullwidth-latest-post figure {
	margin: 0 0 37px;
}

.fullwidth-latest-post figure .figure-link {
	position: relative;
	display: inline-block;
	overflow: hidden;
	background: #eee;
	border-radius: 20px;
}

.fullwidth-latest-post figure .figure-link picture div {
	line-height: 0;
}

.fullwidth-latest-post figure .figure-link img {
	width: 100%;
	object-fit: cover;
}

.fullwidth-latest-post figure .figure-link:after {
	content: "";
	position: absolute;
	width: 100%;
	height: 240px;
	background: linear-gradient(to top, black 0%, rgba(0, 0, 0, 0) 100%);
	bottom: 0;
	left: 0;
	z-index: 0;
}

.fullwidth-latest-post figure figcaption {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 5;
	color: #fff;
	padding: 0 27px 40px;
}

.fullwidth-latest-post figure figcaption h2 {
	font: 600 36px/1.1em Neusa;
	margin: 0 0 15px;
}

.fullwidth-latest-post figure figcaption h2 a {
	color: #fff;
	text-decoration: none;
	transition: all 0.25s ease;
}

.fullwidth-latest-post figure figcaption h2 a:hover {
	color: #FFDE07;
}

.fullwidth-latest-post figure figcaption > div {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.fullwidth-latest-post figure figcaption time {
	font: 600 17px/1.5em Neusa;
}

.fullwidth-latest-post figure figcaption .read-more {
	position: relative;
	font: 600 17px/1.5em Neusa;
	text-decoration: none;
	white-space: nowrap;
	color: #fff;
	padding-right: 20px;
	display: inline-block;
	transition: all 0.25s ease;
}

.fullwidth-latest-post figure figcaption .read-more i {
	font-style: normal;
	position: absolute;
	right: 0;
	top: 50%;
	width: 14px;
	height: 2px;
	background-color: #fff;
	transform: translateY(-50%);
	border-radius: 2px;
	transition: all 0.25s ease;
}

.fullwidth-latest-post figure figcaption .read-more i:after, .fullwidth-latest-post figure figcaption .read-more i:before {
	content: "";
	position: absolute;
	right: 1px;
	top: 0;
	width: 9px;
	height: 2px;
	background-color: #fff;
	transform-origin: center right;
	border-radius: 2px;
	transition: all 0.25s ease;
}

.fullwidth-latest-post figure figcaption .read-more i:after {
	transform: rotate(45deg);
}

.fullwidth-latest-post figure figcaption .read-more i:before {
	transform: rotate(-45deg);
	right: 1px;
}

.fullwidth-latest-post figure figcaption .read-more:hover {
	text-decoration: none;
	color: #FFDE07;
}

.fullwidth-latest-post figure figcaption .read-more:hover i {
	background-color: #FFDE07;
}

.fullwidth-latest-post figure figcaption .read-more:hover i:after {
	transform: rotate(35deg);
	background-color: #FFDE07;
}

.fullwidth-latest-post figure figcaption .read-more:hover i:before {
	transform: rotate(-35deg);
	background-color: #FFDE07;
}

.latest-post-list {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 26px;
	margin-bottom: 10px;
}

.latest-post-list > div {
	margin-bottom: 15px;
	cursor: default;
}

.latest-post-list figure {
	margin: 0;
	padding: 0;
	position: relative;
	cursor: default;
	overflow: hidden;
	border-radius: 20px;
}

.latest-post-list figure > div {
	position: relative;
	line-height: 0;
}

.latest-post-list figure > div:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: linear-gradient(180deg, rgba(0, 0, 0, 0) 30%, #000000 100%);
	z-index: 0;
}

.latest-post-list figure img {
	width: 100%;
	object-fit: cover;
}

.latest-post-list figure figcaption {
	position: absolute;
	left: 0;
	bottom: 0;
	color: #fff;
	right: 0;
	z-index: 1;
	padding: 0 15px 23px;
}

.latest-post-list figure figcaption h2 {
	margin-bottom: 0;
	font-size: 17px;
	font-weight: 600;
	line-height: 1em;
}

.latest-post-list figure figcaption h2 a {
	color: #fff;
	text-decoration: none;
}

.latest-post-list figure figcaption h2 a:hover {
	color: #FFDE07;
}

.latest-post-list figure figcaption p {
	font-size: 16px;
	margin: 0;
}

.latest-post-list .post_teams_logo {
	display: none;
}

.fullwidth-post-thumbnail {
	padding: 0;
	margin: 0 0 30px;
	line-height: 0;
	position: relative;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	min-height: 454px;
}

.fullwidth-post-thumbnail img {
	width: 100%;
}

.fullwidth-post-thumbnail .title-link {
	font: bold 36px/1.37em Neusa;
	color: #fff;
	max-width: 760px;
	display: inline-block;
	margin-bottom: 20px;
	transition: all 0.2s ease;
}

.fullwidth-post-thumbnail .title-link:hover {
	color: #FFDE07;
}

.fullwidth-post-thumbnail .container {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;
	margin-bottom: 105px;
}

.fullwidth-post-thumbnail:after {
	content: '';
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0.76;
	background: linear-gradient(to bottom, rgba(86, 30, 113, 0) 0%, #561e71 100%);
	z-index: 0;
}

.fullwidth-post-thumbnail .posted-on {
	display: block;
	color: #FDC500;
	font-weight: bold;
	font-size: 16px;
	line-height: 1em;
}

.fullwidth-post-thumbnail .posted-on a {
	color: inherit;
	transition: all 0.2s ease;
}

.fullwidth-post-thumbnail .posted-on a:hover {
	color: #fff;
}

.post .entry-header, .post .entry-footer, .post .post-navigation, .single .entry-header, .single .entry-footer, .single .post-navigation {
	display: none;
}

footer.site-footer {
	background-color: #fff;
	padding: 100px 20px 30px;
	color: #000;
	font-weight: 600;
	font-size: 18px;
	text-align: center;
}

footer.site-footer .links-list {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	list-style: none;
}

footer.site-footer .links-list li {
	font-weight: 500;
	font-size: 18px;
	line-height: 1em;
	margin: 0 40px;
}

footer.site-footer .links-list li a {
	text-decoration: underline;
	transition: all 0.2s ease;
}

footer.site-footer .links-list li a:hover {
	color: #FFDE07;
}

footer.site-footer .partners-list {
	padding: 0;
	display: flex;
	list-style: none;
	max-width: 580px;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
}

footer.site-footer .partners-list li {
	margin: 0 50px;
}

footer.site-footer .widget:not(:last-child) {
	margin-bottom: 50px;
}

.si-match-header-wrapper si-lb-widget, .match-subpage-widgets si-lb-widget {
	background-color: #2b073c;
	border-radius: 10px;
}

.si-match-menu {
	display: none;
}

/*========= POST =========*/
.wp-block-si-widget.wp-block-si-widget--center si-lb-widget {
	margin: 0 auto 30px !important;
}

.si-default-post-layout .entry-content .parent-selector + si-lb-widget,
.si-default-post-layout .entry-content .parent-selector + .wp-block-si-widget,
.si-default-post-layout .entry-content .parent-selector + .wp-block-group > * .wp-block-si-widget:nth-child(1) {
	margin-top: -100px;
}

/*========= GRID =========*/
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9 {
	padding-right: 10px;
	padding-left: 10px;
}

.row {
	margin-right: -10px;
	margin-left: -10px;
}

/*========= MEDIA =========*/
@media (min-width: 1340px) {
	.container,
	.container-lg,
	.container-md,
	.container-sm,
	.container-xl {
		max-width: 1390px;
	}
	.single-post #masthead {
		display: none;
	}
}

@media (min-width: 1200px) {
	.col-xl-1,
	.col-xl-10,
	.col-xl-11,
	.col-xl-12,
	.col-xl-2,
	.col-xl-3,
	.col-xl-4,
	.col-xl-5,
	.col-xl-6,
	.col-xl-7,
	.col-xl-8,
	.col-xl-9 {
		width: 100%;
		margin: 0;
	}
	.single-post #masthead {
		display: none;
	}
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
	.main-navigation:not(.toggled) #primary-menu > li,
	.site-header .tournament-menu .menu li {
		margin: 0 10px;
	}
	.site-header .tournament-menu .euro-icon {
		margin: 0 20px;
	}
	.fullwidth-latest-post figure .figure-link {
		border-radius: 10px;
	}
	.fullwidth-latest-post figure figcaption {
		padding: 0 20px 20px;
	}
	.fullwidth-latest-post figure figcaption h2 {
		font-size: 25px;
		margin: 0 0 5px;
	}
	.latest-post-list figure {
		border-radius: 5px;
	}
	.wrapper {
		padding-left: 16px;
		padding-right: 16px;
	}
	.si-default-post-layout .entry-content .parent-selector + si-lb-widget,
	.si-default-post-layout .entry-content .parent-selector + .wp-block-si-widget,
	.si-default-post-layout .entry-content .parent-selector + .wp-block-group > * .wp-block-si-widget:nth-child(1) {
		margin-top: 0;
	}
	.fullwidth-post-thumbnail .container {
		margin-bottom: 20px;
	}
	.single-post #masthead {
		display: none;
	}
}

@media screen and (min-width: 320px) and (max-width: 991px) {
	.main-navigation .menu-toggle {
		display: block;
	}
	.single-post .header-wrapper {
		padding-bottom: 0;
	}
	.single-post .site-branding.single-post {
		display: none;
	}
	.single-post .header-wrapper .site-branding {
		display: none;
	}
	.single-post .menu-wrapper .flex .primary-button.single-post {
		display: none;
	}
	.single-post .site-branding-wrapper .primary-button {
		display: block;
	}
	.main-navigation #general-menu {
		position: absolute;
		top: 0;
		left: 0;
		background: #000;
		width: calc(100vw - 30px);
		height: 100vh;
		box-sizing: border-box;
		transform: translate(-101%, 71px);
		visibility: hidden;
		align-items: normal;
		transition: all 0.2s ease;
	}
	.main-navigation #general-menu #menus {
		width: 100%;
	}
	.main-navigation #general-menu .betting,
	.main-navigation #general-menu .mobile-tournaments-menu {
		display: none;
	}
	.main-navigation #general-menu .betting.show,
	.main-navigation #general-menu .mobile-tournaments-menu.show {
		display: flex;
	}
	.main-navigation #general-menu #primary-menu {
		flex-direction: column;
		box-sizing: border-box;
	}
	.main-navigation #general-menu #primary-menu li {
		margin: 0;
		border-bottom: 1px solid rgba(255, 255, 255, 0.25);
	}
	.main-navigation #general-menu #primary-menu li a {
		color: #fff;
		padding: 10px 0;
		border-radius: 0;
		transition: all 0.2s ease;
		background: none;
	}
	.main-navigation #general-menu #primary-menu li:after {
		display: none;
	}
	.main-navigation #general-menu #primary-menu li.active > a,
	.main-navigation #general-menu #primary-menu li.current-menu-item > a,
	.main-navigation #general-menu #primary-menu li:hover > a {
		color: #FFDE07;
	}
	.main-navigation #general-menu .mobile-tournaments-menu {
		flex-direction: column;
	}
	.main-navigation #general-menu .mobile-tournaments-menu li {
		border-bottom: 1px solid rgba(255, 255, 255, 0.25);
	}
	.main-navigation #general-menu .mobile-tournaments-menu li a {
		color: #fff;
		padding: 10px 0;
		transition: all 0.2s ease;
	}
	.main-navigation #general-menu .mobile-tournaments-menu li.active > a,
	.main-navigation #general-menu .mobile-tournaments-menu li.current-menu-item > a,
	.main-navigation #general-menu .mobile-tournaments-menu li:hover > a {
		color: #FFDE07;
	}
	.main-navigation #general-menu .mobile-tabs {
		text-align: center;
		display: block;
		margin-right: 20px;
	}
	.main-navigation #general-menu .mobile-tabs ul {
		display: flex;
		flex-direction: column;
		font-size: 16px;
		font-weight: 500;
	}
	.main-navigation #general-menu .mobile-tabs ul > li {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 10px 15px;
		cursor: pointer;
		color: #fff;
		transition: all 0.2s ease;
	}
	.main-navigation #general-menu .mobile-tabs ul > li svg {
		fill: #fff;
		pointer-events: none;
	}
	.main-navigation #general-menu .mobile-tabs ul > li:not(:last-child) {
		margin-bottom: 1px;
	}
	.main-navigation #general-menu .mobile-tabs ul li.active,
	.main-navigation #general-menu .mobile-tabs ul li:hover {
		color: #662482;
		background-color: #FFDE07;
	}
	.tournament-menu {
		display: none;
	}
	.menu-wrapper {
		background: none;
		box-shadow: none;
		z-index: 15;
		height: 70px;
	}
	.menu-wrapper.sticky {
		position: fixed;
		width: 60px;
	}
	.admin-bar .menu-wrapper {
		top: 32px;
	}
	.menu-wrapper, .site-header .site-branding-wrapper {
		position: fixed;
		width: 100%;
	}
	.site-header:after {
		bottom: 0;
	}
	.site-header .site-branding-wrapper {
		padding: 10px 30px;
		align-items: center;
		background: #4a1b5f;
		box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
		border-bottom: 1px solid #571f6f;
		z-index: 5;
	}
	.site-header .site-branding > a {
		max-width: 70px;
	}
	.site-header .header-wrapper {
		padding-top: 50px;
	}
	.fullwidth-latest-post figure .figure-link {
		border-radius: 10px;
	}
	.fullwidth-latest-post figure figcaption {
		padding: 0 20px 20px;
	}
	.fullwidth-latest-post figure figcaption h2 {
		font-size: 25px;
		margin: 0 0 5px;
	}
	.latest-post-list {
		margin-bottom: 0;
	}
	.latest-post-list figure {
		border-radius: 5px;
	}
	.latest-post-list:nth-child(3), .latest-post-list:nth-child(4), .latest-post-list:nth-child(5) {
		margin-bottom: 0;
	}
	.wrapper {
		padding-left: 16px;
		padding-right: 16px;
		padding-bottom: 5px;
		margin-bottom: 16px;
	}
	.si-default-post-layout .entry-content .parent-selector + si-lb-widget,
	.si-default-post-layout .entry-content .parent-selector + .wp-block-si-widget,
	.si-default-post-layout .entry-content .parent-selector + .wp-block-group > * .wp-block-si-widget:nth-child(1) {
		margin-top: 0;
	}
	.fullwidth-post-thumbnail {
		min-height: 250px;
	}
	.fullwidth-post-thumbnail .container {
		margin-bottom: 20px;
	}
	.fullwidth-post-thumbnail .container .title-link {
		font-size: 30px;
	}
}

@media screen and (min-width: 320px) and (max-width: 782px) {
	.admin-bar .menu-wrapper {
		top: 46px;
	}
	.latest-post-list {
		grid-template-columns: 1fr;
	}
	.latest-post-list figure {
		max-height: 229px;
		border-radius: 10px;
	}
	.top-sidebar {
		margin: 0;
	}
}

@media screen and (min-width: 320px) and (max-width: 450px) {
	.fullwidth-latest-post figure figcaption {
		padding: 0 10px 10px;
	}
	.fullwidth-latest-post figure figcaption h2 {
		font-size: 20px;
	}
	.latest-post-list figure figcaption {
		padding: 0 10px 10px;
	}
	footer.site-footer {
		padding-top: 50px;
	}
	footer.site-footer .partners-list li {
		margin: 0 30px;
	}
}

/*# sourceMappingURL=style.css.map */